.right-content {
    width: 312px;
}

.left-content {
    width: 768px;
}

.goBack {
    background-color: #085fb1;
    border: 1px solid #dfdfdf;
    outline: none;
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
}

.caption span {
    text-transform: uppercase;
    border-bottom: dashed 2px #000000;
}

.caption span {
    font-size: 22px;
    font-weight: 600;
    color: #d8ca00 !important;
}

.movie-item {
    width: 24.4%;
    position: relative;
    background-color: #141313;
    margin-bottom: 30px;
    padding: 2px;
    margin-right: 4.6px;
}

.current-status {
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: 700;
    left: 11px;
    top: 8px;
    background-color: #ac0d0d;
    padding: 3px 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 55%;
    z-index: 100;
}

.movie {
    width: 100%;
    height: 260px;
    border: 1px solid #131111;
    margin-bottom: 10px;
}

.title {
    overflow: hidden;
}

p {
    margin-bottom: 2px !important;
    padding-left: 5px;
}

.name {
    font-weight: 700;
    color: #585ad4;
    font-size: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.real-name {
    font-size: 14px;
    color: rgb(211, 197, 0);
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}