.profile-container {
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    color: black;
}

.profile-container .sidebar {
    min-height: 400px;
    margin-right: 20px;

}

.profile-container .sidebar .profile {
    min-height: 50px;
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

@media (max-width: 1080px) {
    .sidebar {
        display: none;
    }
}

.profile span {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.profile span img {
    width: 100%;
    height: 100%;
}

.update {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 80px;
    background: #0000005c;
}

.update input {
    margin-left: 169px;
    margin-bottom:10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #252525;
    color:#dddddd;
}

.friend, .group{
    width:300px;
}