
.marr-5{
	margin-right:5px !important;
}

.marr-10{
	margin-right:10px !important;
}

.marr-15{
	margin-right:15px !important;
}

.marr-20{
	margin-right:20px !important;
}

.marr-25{
	margin-right:25px !important;
}

.marr-30{
	margin-right:30px !important;
}

.marr-35{
	margin-right:35px !important;
}

.marr-40{
	margin-right:40px !important;
}

.marr-45{
	margin-right:45px !important;
}

.marr-50{
	margin-right:50px !important;
}

.marr-55{
	margin-right:55px !important;
}

.marr-60{
	margin-right:60px !important;
}

.marr-65{
	margin-right:65px !important;
}

.marr-70{
	margin-right:70px !important;
}

.marr-75{
	margin-right:75px !important;
}

.marr-80{
	margin-right:80px !important;
}

.marr-85{
	margin-right:85px !important;
}

.marr-90{
	margin-right:90px !important;
}

.marr-95{
	margin-right:95px !important;
}

.marr-100{
	margin-right:100px !important;
}

.marl-5{
	margin-left:5px !important;
}

.marl-10{
	margin-left:10px !important;
}

.marl-15{
	margin-left:15px !important;
}

.marl-20{
	margin-left:20px !important;
}

.marl-25{
	margin-left:25px !important;
}

.marl-30{
	margin-left:30px !important;
}

.marl-35{
	margin-left:35px !important;
}

.marl-40{
	margin-left:40px !important;
}

.marl-45{
	margin-left:45px !important;
}

.marl-50{
	margin-left:50px !important;
}

.marl-55{
	margin-left:55px !important;
}

.marl-60{
	margin-left:60px !important;
}

.marl-65{
	margin-left:65px !important;
}

.marl-70{
	margin-left:70px !important;
}

.marl-75{
	margin-left:75px !important;
}

.marl-80{
	margin-left:80px !important;
}

.marl-85{
	margin-left:85px !important;
}

.marl-90{
	margin-left:90px !important;
}

.marl-95{
	margin-left:95px !important;
}

.marl-100{
	margin-left:100px !important;
}

.mart-5{
	margin-top:5px !important;
}

.mart-10{
	margin-top:10px !important;
}

.mart-15{
	margin-top:15px !important;
}

.mart-20{
	margin-top:20px !important;
}

.mart-25{
	margin-top:25px !important;
}

.mart-30{
	margin-top:30px !important;
}

.mart-35{
	margin-top:35px !important;
}

.mart-40{
	margin-top:40px !important;
}

.mart-45{
	margin-top:45px !important;
}

.mart-50{
	margin-top:50px !important;
}

.mart-55{
	margin-top:55px !important;
}

.mart-60{
	margin-top:60px !important;
}

.mart-65{
	margin-top:65px !important;
}

.mart-70{
	margin-top:70px !important;
}

.mart-75{
	margin-top:75px !important;
}

.mart-80{
	margin-top:80px !important;
}

.mart-85{
	margin-top:85px !important;
}

.mart-90{
	margin-top:90px !important;
}

.mart-95{
	margin-top:95px !important;
}

.mart-100{
	margin-top:100px !important;
}

.marb-5{
	margin-bottom:5px !important;
}

.marb-10{
	margin-bottom:10px !important;
}

.marb-15{
	margin-bottom:15px !important;
}

.marb-20{
	margin-bottom:20px !important;
}

.marb-25{
	margin-bottom:25px !important;
}

.marb-30{
	margin-bottom:30px !important;
}

.marb-35{
	margin-bottom:35px !important;
}

.marb-40{
	margin-bottom:40px !important;
}

.marb-45{
	margin-bottom:45px !important;
}

.marb-50{
	margin-bottom:50px !important;
}

.marb-55{
	margin-bottom:55px !important;
}

.marb-60{
	margin-bottom:60px !important;
}

.marb-65{
	margin-bottom:65px !important;
}

.marb-70{
	margin-bottom:70px !important;
}

.marb-75{
	margin-bottom:75px !important;
}

.marb-80{
	margin-bottom:80px !important;
}

.marb-85{
	margin-bottom:85px !important;
}

.marb-90{
	margin-bottom:90px !important;
}

.marb-95{
	margin-bottom:95px !important;
}

.marb-100{
	margin-bottom:100px !important;
}

.mar-5{
	margin:5px !important;
}

.mar-6{
	margin:6px !important;
}

.mar-7{
	margin:7px !important;
}

.mar-8{
	margin:8px !important;
}

.mar-9{
	margin:9px !important;
}

.mar-10{
	margin:10px !important;
}
