
.padr-5{
	padding-right:5px !important;
}

.padr-10{
	padding-right:10px !important;
}

.padr-15{
	padding-right:15px !important;
}

.padr-20{
	padding-right:20px !important;
}

.padr-25{
	padding-right:25px !important;
}

.padr-30{
	padding-right:30px !important;
}

.padr-35{
	padding-right:35px !important;
}

.padr-40{
	padding-right:40px !important;
}

.padr-45{
	padding-right:45px !important;
}

.padr-50{
	padding-right:50px !important;
}

.padr-55{
	padding-right:55px !important;
}

.padr-60{
	padding-right:60px !important;
}

.padr-65{
	padding-right:65px !important;
}

.padr-70{
	padding-right:70px !important;
}

.padr-75{
	padding-right:75px !important;
}

.padr-80{
	padding-right:80px !important;
}

.padr-85{
	padding-right:85px !important;
}

.padr-90{
	padding-right:90px !important;
}

.padr-95{
	padding-right:95px !important;
}

.padr-100{
	padding-right:100px !important;
}

.padl-5{
	padding-left:5px !important;
}

.padl-10{
	padding-left:10px !important;
}

.padl-15{
	padding-left:15px !important;
}

.padl-20{
	padding-left:20px !important;
}

.padl-25{
	padding-left:25px !important;
}

.padl-30{
	padding-left:30px !important;
}

.padl-35{
	padding-left:35px !important;
}

.padl-40{
	padding-left:40px !important;
}

.padl-45{
	padding-left:45px !important;
}

.padl-50{
	padding-left:50px !important;
}

.padl-55{
	padding-left:55px !important;
}

.padl-60{
	padding-left:60px !important;
}

.padl-65{
	padding-left:65px !important;
}

.padl-70{
	padding-left:70px !important;
}

.padl-75{
	padding-left:75px !important;
}

.padl-80{
	padding-left:80px !important;
}

.padl-85{
	padding-left:85px !important;
}

.padl-90{
	padding-left:90px !important;
}

.padl-95{
	padding-left:95px !important;
}

.padl-100{
	padding-left:100px !important;
}

.padt-5{
	padding-top:5px !important;
}

.padt-10{
	padding-top:10px !important;
}

.padt-15{
	padding-top:15px !important;
}

.padt-20{
	padding-top:20px !important;
}

.padt-25{
	padding-top:25px !important;
}

.padt-30{
	padding-top:30px !important;
}

.padt-35{
	padding-top:35px !important;
}

.padt-40{
	padding-top:40px !important;
}

.padt-45{
	padding-top:45px !important;
}

.padt-50{
	padding-top:50px !important;
}

.padt-55{
	padding-top:55px !important;
}

.padt-60{
	padding-top:60px !important;
}

.padt-65{
	padding-top:65px !important;
}

.padt-70{
	padding-top:70px !important;
}

.padt-75{
	padding-top:75px !important;
}

.padt-80{
	padding-top:80px !important;
}

.padt-85{
	padding-top:85px !important;
}

.padt-90{
	padding-top:90px !important;
}

.padt-95{
	padding-top:95px !important;
}

.padt-100{
	padding-top:100px !important;
}

.padb-5{
	padding-bottom:5px !important;
}

.padb-10{
	padding-bottom:10px !important;
}

.padb-15{
	padding-bottom:15px !important;
}

.padb-20{
	padding-bottom:20px !important;
}

.padb-25{
	padding-bottom:25px !important;
}

.padb-30{
	padding-bottom:30px !important;
}

.padb-35{
	padding-bottom:35px !important;
}

.padb-40{
	padding-bottom:40px !important;
}

.padb-45{
	padding-bottom:45px !important;
}

.padb-50{
	padding-bottom:50px !important;
}

.padb-55{
	padding-bottom:55px !important;
}

.padb-60{
	padding-bottom:60px !important;
}

.padb-65{
	padding-bottom:65px !important;
}

.padb-70{
	padding-bottom:70px !important;
}

.padb-75{
	padding-bottom:75px !important;
}

.padb-80{
	padding-bottom:80px !important;
}

.padb-85{
	padding-bottom:85px !important;
}

.padb-90{
	padding-bottom:90px !important;
}

.padb-95{
	padding-bottom:95px !important;
}

.padb-100{
	padding-bottom:100px !important;
}

.pad-5{
	padding:5px !important;
}

.pad-6{
	padding:6px !important;
}

.pad-7{
	padding:7px !important;
}

.pad-8{
	padding:8px !important;
}

.pad-9{
	padding:9px !important;
}

.pad-10{
	padding:10px !important;
}